html {
    scroll-behavior: smooth;
}


body {
    background-color: grey;
    color: rgb(223, 213, 213);
    
}
.section.containers {
    background-color: blue;
    margin: 50px 20% 50px;
    padding: 20px;
}
section {
    display: table;
    width: 100%;
}
ul li {
    list-style-type: none;
}
/* header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header img.avatar-img {
    width: 200px;
}

header h1.big-title {
font-size: 180px;
text-transform: uppercase;
}
/* navbar */
nav.navbar ul li  {
    display: inline-block;
}
nav.navbar ul li a {
    text-decoration: none;
    color: aqua;
    background-color: gray;
    padding: 10px;
    margin: 10px;
    text-transform: uppercase;
}

/* about */

section#about {
    height: 250px;
    background: url(/media/intro.jpg) fixed no-repeat;
    background-position: center;
}
/* weapons */

section#weapons {
    height: 250px;
    background: url(/media/armurerie.jpg) fixed no-repeat;
    background-position: center

}
.weapon-section {
    display: flex;
    padding: 20px;
}
.weapon-item img {
width: 100px;
margin-right: 20px;
margin-left: 20px;
}

/* footer */

footer {
    display: flex;
    justify-content: center;
}



